{% extends "base.html" %}

{% load  static %}

{% block content %}


<div class="container w-25">
  <h2 class="text-white">Login</h2>
      <form  method="POST"    >{% csrf_token %}

        <div class="cell medium-12">
          <label>Email:</label>
          <div class="input-group">
            <span class="input-group-label"><i class="fi-mail"></i></span>
            {{form.email}}
          </div>
        </div>
        <div class="cell medium-12">
          <label>Password:</label>
          <div class="input-group">
            <span class="input-group-label"><i class="fi-lock"></i></span>
            {{form.password}}
          </div>
        </div>
        <button type="submit" class="bg-primary">Ingresar</button>
      </form>
</div>
{% endblock content %}