{% extends "home/base_home.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x">
  
  <div class="cell grid-x grid-margin-x" style="display:flex; justify-content:center;">

    <div class="cell medium-4  card-container">
      <div class="display: flex; flex-column;" style="gap: 0; margin-top:0">
        <div class="flex-column" style="margin:none;">
          <div class="coin-base">
            <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
            <h2>Ventas de Hoy:</h2>
          </div>
          <div class="cell medium-4 callout alert" style="text-align: center; background-color:black;">
            <h3 style="color:white;"> $ {{ total_vendido }}</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="cell medium-4  card-container">
      <div class="display: flex; flex-column;" style="gap: 0; margin-top:0">
        <div class="flex-column" style="margin:none;">
          <div class="coin-base">
            <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
            <h2>Total Ventas:</h2>
          </div>
          <div class="cell medium-4 callout alert" style="text-align: center; background-color:black;">
            <h3 style="color:white;">S/. {{ num_ventas_hoy }}</h3>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="cell grid-x grid-margin-x" style="height: 200px; display: flex; align-items: center; justify-content: center;">
    <div style="display: flex; justify-content: center; align-items: center;flex-direction:column;">
      <h4 class="cell" style="color:white;">Informe de Ingresos en la semana:</h4>
      <div class="cell">
        <table class="hover">
          <thead>
          <th>Fecha</th>
          <th>Numero Ventas</th>
          <th>Total Vendido</th>
          <th>Total Ganancias</th>
          </thead>
          <tbody>
          {% for venta in resumen_semana %}
          <tr>
            <td>{{ venta.sale__date_sale__date }}</td>
            <td>{{ venta.num_ventas }}</td>
            <td>{{ venta.total_vendido }}</td>
            <td>{{ venta.total_ganancias }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock panel-content %}