{% extends "producto/base_producto.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">

    <div class="card-container">
        <a href="/" class="hero-image-container">
            <img class="hero-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube"/>
        </a>
        <main class="main-content">
            <h1><a href="#">Informacion del Producto</a></h1>
            <p>A continuacion se muestra mas detalle sobre la informacion del producto.</p>
            <div class="display: flex; flex-column;" style="gap: 0;">

                <div class="flex-row">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Codigo de Barras:</h2>
                    </div>
                    <div class="time-left">
                        <p>{{ object.barcode }}</p>
                    </div>
                </div>


                <div class="flex-row">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Proveedor:</h2>
                    </div>
                    <div class="time-left">
                        <p>{{ product.provider }}</p>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Marca:</h2>
                    </div>
                    <div class="time-left">
                        <!--                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>-->
                        <p>{{ product.marca }}</p>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Vencimiento:</h2>
                    </div>
                    <div class="time-left">
                        <!--                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>-->
                        <p>{{ product.due_date  }}</p>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="coin-base">
                            <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Unidad de medida:</h2>
                    </div>
                    <div class="time-left">
                        <!--                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>-->
                        <p>{{ product.get_unit_display  }}</p>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Cantidad en Almacen:</h2>
                    </div>
                    <div class="time-left">
                        <!--                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>-->
                        <p>{{  product.count  }}</p>
                    </div>
                </div>


                <div class="flex-row" style="margin:none;">
                    <div class="coin-base">
                        <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
                        <h2>Precio Compra::</h2>
                    </div>
                    <div class="time-left">
                        <!--                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image"/>-->
                        <p>{{  product.purchase_price   }}</p>
                    </div>
                </div>

            </div>
        </main>
        <div class="card-attribute">
            <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar"/>
            <p>Proveedor:  <span><a href="#">{{product.provider }}</a></span></p>
        </div>
    </div>
</div>

{% endblock panel-content %}