{% extends "base.html" %}

{% load  static %}

{% block content %}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left" style="background-color: #2E4053;">
      <div class="row column">
        <h3 style="text-align: center; padding: 0.3em; color: #F2F3F4 ;">Alquileres</h3>

        <ul class="vertical menu">
            <li>
              <a href="#" class="button secondary " style="margin-bottom: 5px;" ><span  >Operaciones</span></a>

              <ul class="nested vertical menu" style=" display:flex; flex-direction:column; align-items:center; padding:0;margin:0;">
                <li class="{% if request.resolver_match.url_name == 'producto-lista' %}button-success{% endif %}"style="width:100%; max-width:none;">
                  <a href="{% url 'producto_app:producto-lista' %}" class="button" >  Producto </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'venta-index' %}button-success{% endif %}"style="width:100%; max-width:none;">
                  <a href="{% url 'venta_app:venta-index' %}" class="button" >  Realizar Nueva Venta </a>
                </li>

                  <li class="{% if request.resolver_match.url_name == 'caja-index' %}button-success{% endif %}"style="width:100%; max-width:none;">
                      <a href="{% url 'caja_app:caja-index' %}"  class="button" >  Cerrar Caja </a>
                  </li>

              </ul>

                <a href="#" class="button secondary " style="margin-bottom: 5px; margin-top:3em;" ><span  >Gestor de Usuarios</span></a>
                <ul class="nested vertical menu" style=" display:flex; flex-direction:column; align-items:center; padding:0;margin:0;">

                    <li class="{% if request.resolver_match.url_name == 'index-admin' %}button-success{% endif %}"style="width:100%; max-width:none;">
                        <a href="{% url 'home_app:index-admin' %}" class="button" >  Administracion </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'user-lista' %}button-success{% endif %}"style="width:100%; max-width:none;">
                        <a href="{% url 'users_app:user-lista' %}" class="button" >  Usuarios </a>
                    </li>
                </ul>
            </li>
        </ul>

      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <!-- declaramos un nuevo bloque para contenidod e panel -->
      <div class="grid-x">
        <div class="cell top-bar" style="background-color: #424242;">
          <div class="top-bar-left">
            <h4 style="color: white;">Usuario: {{ user.full_name }}</h4>
          </div>
          <div class="top-bar-right">
            <a href="{% url 'users_app:user-logout' %}">
              <span class="label warning">Salir</span>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-container" style="padding: 1em;">
        {% block panel-content %}
        {% endblock panel-content %}
      </div>
  </div>

</div>



{% endblock content %}