{% extends "caja/base_caja.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x">
  <h4 class="cell" style="color:white ">Detalle de las ventas del Dia:</h4>
<!--  CARDS 03-->
    <div class="cell grid-x grid-margin-x">

      <div class="cell medium-4  card-container">
        <div class="display: flex; flex-column;" style="gap: 0; margin-top:0">
          <div class="flex-column" style="margin:none;">
            <div class="coin-base">
              <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
              <h2>Ventas de Hoy:</h2>
            </div>
            <div class="cell medium-4 callout alert" style="text-align: center; background-color:black;">
              <h3 style="color:white;"> $ {{ total_vendido }}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="cell medium-4  card-container">
        <div class="display: flex; flex-column;" style="gap: 0; margin-top:0">
          <div class="flex-column" style="margin:none;">
            <div class="coin-base">
              <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
              <h2>Total Anulaciones:</h2>
            </div>
            <div class="cell medium-4 callout alert" style="text-align: center; background-color:black;">
              <h3 style="color:white;">{{ total_anulado }}</h3>
            </div>
          </div>
        </div>
      </div>


      <div class="cell medium-4  card-container">
        <div class="display: flex; flex-column;" style="gap: 0; margin-top:0">
          <div class="flex-column" style="margin:none;">
            <div class="coin-base">
              <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image"/>
              <h2>Total Ventas:</h2>
            </div>
            <div class="cell medium-4 callout alert" style="text-align: center; background-color:black;">
              <h3 style="color:white;">S/. {{ num_ventas_hoy }}</h3>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="cell medium-4 callout alert" style="text-align: center;">-->
<!--        <h5>Total Ventas</h5>-->
<!--        <h3>{{ num_ventas_hoy }}</h3>-->
<!--      </div>-->

    </div>


    <!--     Reporte de ventas final-->
    <div class="cell grid-x grid-margin-x " style="margin-top: 1em;">
      <h4 class="cell text-center" style="color:white;">Tus Ventas hasta hoy: <b style="font-size: 28px;">$  {{ total_ventas }}</b></h4>
    </div>


<!--TABLA PARA DETALLE DE LAS VENTAS DEL DIA DE HOY-->
    <div class="cell">

      <div class="cell">
        {% for venta in ventas_dia %}
          <table class="hover">
            <thead>
              <th>Producto</th>
              <th>Precio Venta</th>
              <th>Cantidad</th>
              <th>Sub Total</th>
            </thead>
            <tbody>
              {% for detalle in venta.detail_sale.all %}
                <tr>
                  <td>{{ detalle.product.name }}</td>
                  <td>S/. {{ detalle.price_sale }}</td>
                  <td>{{ detalle.count }}</td>
                  <td>S/ {{ detalle.subtotal }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endfor %}
      </div>
    </div>
<!--Boton para cerrar la Caja-->
    <div class="cell">
      <button class="cell btn" data-open="exampleModal1">Cerrar Caja</button></p>
    </div>

</div>

<!--VENTANA CONFIRMACION DE CIERRE DE CAJA-->
<div class="reveal" id="exampleModal1" data-reveal>
  <h3 class="cell" style="text-align: center;">¿Seguro que desea cerrar caja?</h3>
  <br>
  <h3 style="color: green;">Monto Total: {{ total_vendido }}</h3>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <br>
  <form action="{% url 'caja_app:caja-cerrar' %}" class="cell" method="post">
    {% csrf_token %}
    <button type="submit" class="cell success button">Confirmar</button>
  </form>
</div>
{% endblock panel-content %}